body{background-color: #fcebb6;
color: #221811;
font-family: Verdana, Arial, sans-serif;
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYWDN_02J3FY5qfIZFLhrxLoz0cP8X-zMym9wuiAPQnoUvVDDh&s");
}
header{
    background-color: #d2b48c;
    text-align: center;
}
h1{line-height: 200%;}
nav{
    font-weight: bold;
    text-align: center;
}
footer{
    background-color: #d2b48c;
    font-size: 0.6em;
    font-style: italic;
    text-align: center;
}
#wrapper{
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #ffffff;
    min-width: 700px;
    max-width: 1024px;

}
img{
padding-top: 10px;
}
nav a{ color: azure;
background-color: rgb(223, 52, 209);
padding: 10px;
float: right;
border-right: 2px solid #ffffff;
}
nav a:hover{
    color: goldenrod;
    background-color: darkslategrey;
}